.search-bar {
  margin-bottom: 5rem;
}
.search-bar-title {
  font-weight: 550;
  margin-bottom: 2rem;
}
.search-bar-search {
  text-align: left;
  padding: 1.3rem;
  width: 100%;
  height: 2rem;
  border: solid black 1px;
  border-radius: 5px;
  max-width: 700px;
  font-size: 1.2rem;
  background-color: #fffafa;
}

.search-bar-submit {
  width: 100%;
  max-width: 300px;
  display: block;
  margin: 1.5rem auto 0 auto;
  padding: 0.4rem;
  border-radius: 0.2rem;
  font-size: 1.2rem;
  color: #fff;
  background-color: #0066ff;
  box-shadow: rgba(255, 255, 255, 0) 0 0 0 3px, rgba(0, 102, 255, 0) 0 0 0 4px;
  cursor: pointer;
}

.search-bar-submit:hover {
  background-color: #0052cc;
  transition: 1s;
}
